@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Questrial&display=swap'); 

// font-family: 'Lora', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Questrial', sans-serif;
// Variabel yang akan digunakan

$warna-utama1: #D3B59D;
$warna-utama2: #a08477;
$warna-utama3: #D6A076;
$warna-utama4: #B73E3E;
$warna-utama5: #2D2B27;
$warna-utama6: #E2E7C6;
$warna-utama7: #94A673;
$warna-utama8: #8B7E74;
$warna-pendukung1: green;
$warna-pendukung2: #C69749;
$warna-pendukung3: crimson;
$padding: 1.2rem;
$border-radius-1: .4rem;
$border-radius-2: .8rem;
$border-radius-3: 1.2rem;

$warna-light: rgba(#fff, 0.7);
$warna-dark: rgba($warna-utama5, 0.7);
$warna-lain: rgba($warna-utama2, 0.9);
