main{
    margin-top: 1.4rem;
    margin-left: 20px;
    h1{
        color: $warna-dark;
        span{
            color: $warna-pendukung2;
        }
        
    }
    .date{
        display: inline-block;
        background: $warna-pendukung;
        border-radius: $border-radius-1;
        margin-top: 1rem;
        padding: .5rem 1rem;
        input[type = 'date']{
            background: transparent;
            color: $warna-dark;
            font-size: 14px;
            font-family: 'Lora', serif;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px){
    main{
        margin-top: 100px;
    }
}